.row
  .col-lg-9.col-md-9.col-sm-7
    %h1.section-title-inner
      %span
        %i.glyphicon.glyphicon-shopping-cart
        Shopping Cart
  .col-lg-3.col-md-3.col-sm-5.rightSidebar
    %h4.caps
      %a{:href=>""}
        %i.fa.fa-chevron-left
        Back to shopping
