.cartFooter.w100
  .box-footer
    .pull-left
      %a.btn.btn-default{:href=>""}
        %i.fa.fa-arrow-left 
          &nbsp; Continue shopping
    .pull-right
      %button.btn.btn-primary{:type=>"submit"}
        %i.fa.fa-undo
          &nbsp; Update cart
