%html
  %head
    %meta{:content=>'text/html; charset=UTF-8', "http-equiv" => 'Content-Type'}
  %body
    %h1
      = "New order placed #{@order.id}"
    %p
      New order has been placed with following details