%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:name=>"viewport", :content=>"width=device-width"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8"}
    %title
      ="New Order #{@order.id}"

    = stylesheet_link_tag "email", media: "all"

  %body{:bgcolor=>"#FFFFFF"}

    %table.head-wrap{:bgcolor=>"#999999"}
      %tr
        %td
        %td.header.container
          .content
            %table{:bgcolor=>"#999999"}
              %tr
                %td
                  %img{:src=>""}
                %td{:align=>"right"}
                  %h6.collapse
                    New Order
        %td

    %table.body-wrap
      %tr
        %td
        %td.container{:bgcolor=>"#FFFFFF"}
          .content
            %table
              %tr
                %td
                  %h3
                    Welcome, Elijah Baily
                  %p.lead
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.

                  %p
                    %img{:src=>"http://placehold.it/600x300"}

                  %p.callout
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    %a{:href=>"#"}
                      Do it Now! &raquo

                  %h3
                    Title Ipsum
                    %small
                      This is a note.
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %a.btn
                    Click Me!

                  %br
                  %br

                  %table.social{:width => "100%"}
                    %tr
                      %td
                        %table.column{:align=>"left"}
                          %tr
                            %td
                              %h5
                                Connect with Us:
                              %p
                                %a.soc-btn.fb{:href=>"#"}
                                  Facebook
                                %a.soc-btn.tw{:href=>"#"}
                                  Twitter
                                %a.soc-btn.gp{:href=>"#"}
                                  Google+

                        %table.column{:align=>"left"}
                          %tr
                            %td
                              %h5
                                Contact Info:
                              %p
                                Phone:
                                %strong
                                  408.341.0600
                                  Email:
                                  %strong
                                    %a{:href=>"emailto:hseldon@trantor.com"}
                                      hseldon@trantor.com

                        %span.clear

        %td
    %table.footer-wrap
      %tr
        %td
        %td.container
          .content
          %table
          %tr
            %td{:align=>"center"}
              %p
                %a{:href => "#"}
                  Terms
                %a{:href => "#"}
                  Privacy
                %a{:href => "#"}
                  %unsubscribe
                    Unsubscribe
        %td
