.row.userInfo
  .col-lg-12
    %h2.block-title-2 To add an address for shipping, please fill out the form below.
  
  %form#addressDetails{name: "addressDetails", novalidate: ""}
    .col-xs-12.col-sm-6
      .form-group.required
        %label{:for=>"firstName"}
          First Name 
          %sup*
        %input.form-control#firstName{name: "firstName", "ng-required" => "true", type: "text", placeholder: "First Name", "ng-minlength" => "3", "ng-maxlength" => "100", "ng-model" => "firstName"}
        %p{:"ng-show" => "addressDetails.firstName.$error.required && !addressDetails.firstName.$pristine"} First name is required.
        %p{:"ng-show" => "addressDetails.firstName.$error.minlength && !addressDetails.firstName.$pristine"} First name is too short.
        %p{"ng-show" => "addressDetails.firstName.$error.maxlength && !addressDetails.firstName.$pristine"} First name is too long.
      .form-group.required
        %label{:for=>"lastName"}
          Last Name 
          %sup*
        %input.form-control#lastName{name: "lastName", "ng-required" => "true", :type=>"text", :placeholder=>"Last Name", "ng-minlength" => "3", "ng-maxlength" => "100", "ng-model" => "lastName"}
        %p{"ng-show" => "addressDetails.lastName.$error.required && !addressDetails.lastName.$pristine"} Last name is required.
        %p{"ng-show" => "addressDetails.lastName.$error.minlength && !addressDetails.lastName.$pristine"} Last name is too short.
        %p{"ng-show" => "addressDetails.lastName.$error.maxlength && !addressDetails.lastName.$pristine"} Last name is too long.
      .form-group
        %label{:for=>"email"}
          Email
        %input.form-control#email{:type=>"email", :placeholder=>"Email", "ng-model" => "email", "ng-maxlength" => "100"}
        %p{"ng-show" => "addressDetails.$error.email && !addressDetails.email.$pristine"} Email format is invalid.
        %p{"ng-show" => "addressDetails.email.$error.maxlength && !addressDetails.email.$pristine"} Email address is too long.
      .form-group.required
        %label{:for=>"addressLine1"}
          Address
          %sup*
        %input.form-control#addressLine1{"name" => "addressLine1", "ng-required" => "true", :type=>"text", :placeholder=>"Address", "ng-maxlength" => "300", "ng-model" => "addressLine1"}
        %p{"ng-show" => "addressDetails.addressLine1.$error.required && !addressDetails.addressLine1.$pristine"} Address is required 
        %p{"ng-show" => "addressDetails.addressLine1.$error.maxlength && !addressDetails.addressLine1.$pristine"} Address cannot be more than 300 characters.
      .form-group
        %label{:for=>"addressLine2"}
          Address (Line 2)
        %input.form-control#addressLine2{"name" => "addressLine2", :type=>"text", :placeholder=>"Address", "ng-model" => "addressLine2", "ng-maxlength" => "300"}
        %p{"ng-show" => "addressDetails.addressLine2.$error.maxlength && !addressDetails.addressLine2.$pristine"} Address cannot be more than 300 characters.
      .form-group.required
        %label{:for=>"city"}
          City
          %sup*
        %input.form-control#city{:name=>"city", "ng-model" => "city", "ng-required" => "true", :type=>"text", :placeholder=>"City"}
        %p{"ng-show" => "addressDetails.city.$error.required && !addressDetails.city.$pristine"} City is required 
      .form-group.required
        %label{:for=>"InputState"}
          State 
          %sup*
        %select.form-control#InputState{:required=>"", "aria-required"=>"true", :name=>"InputState"}
          %option{:value=>""}Choose
          %option{:value=>"1"}Alabama
          %option{:value=>"2"}Whatever
    .col-xs-12.col-sm-6
      .form-group.required
        %label{:for=>"zipcode"}
          Zip / Postal Code 
          %sup*
        %input.form-control#zipcode{:name=> "zipcode", "ng-model" => "zipcode", "ng-required" =>"true", :type=>"text", "ng-minlength" => "6", "ng-maxlength" => "6", :placeholder=>"Zip / Postal Code"}
        %p{"ng-show" => "addressDetails.zipcode.$error.required && !addressDetails.zipcode.$pristine"} Pincode is required 
        %p{"ng-show" => "addressDetails.zipcode.$error.maxlength && !addressDetails.zipcode.$pristine"} Pincode needs to be exactly 6 digits.
        %p{"ng-show" => "addressDetails.zipcode.$error.minlength && !addressDetails.zipcode.$pristine"} Pincode needs to be exactly 6 digits 
      .form-group.required
        %label{:for=>"InputCountry"}
          Country 
          %sup*
        %select.form-control#InputCountry{:required=>"", "aria-required"=>"true", :name=>"InputCountry"}
          %option{:value=>""}Choose
          %option{:value=>"1"}India
          %option{:value=>"2"}United States
      .form-group
        %label{:for=>"InputAdditionalInformation"}
          Additional information
        %textarea.form-control#InputAdditionalInformation{:rows=>"3", :cols=>"26", :name=>"InputAdditionalInformation"}
      .form-group.required
        %label{:for=>"mobile"}
          Mobile phone
          %sup*
        %input.form-control#mobile{name:"mobile", "ng-pattern" => "/^\\d{10}$/", "ng-model" => "mobile", "ng-required" => "true", :type=>"text"}
        %p{"ng-show" => "addressDetails.mobile.$error.required && !addressDetails.mobile.$pristine"} Mobile phone is required 
        %p{"ng-show" => "addressDetails.mobile.$error.pattern && !addressDetails.mobile.$pristine"} Mobile phone needs to 10 digits, without country code 
