.w100.cartMiniTable
  %table.std.table#cart-summary
    %tbody
      %tr>
        %td Total products
        %td.price $216.51
      %tr
        %td Shipping
        %td.price
          %span.success
            Free shipping!
      %tr.cart-total-price
        %td Total (tax excl.)
        %td.price $216.51
      %tr
        %td Total tax
        %td.price#total-tax $0.00
      %tr
        %td Total
        %td.site-color#total-price $216.51
