.w100.cartMiniTable
  %table#cart-summary.std.table
    %tbody
      %tr
        %td Total products
        %td.price {{currency}} {{product_total()}}
      %tr
        %td Shipping
        %td.price
          %span.success Free shipping!
      %tr.cart-total-price
        %td Total (tax excl.)
        %td.price {{currency}} {{product_total()}}
      %tr
        %td Total tax
        %td#total-tax.price {{currency}} {{tax()}}
      %tr
        %td Total
        %td.site-color#total-price {{currency}} {{total_cost()}}