.row
  .breadcrumbDiv.col-lg-12
    %ul.breadcrumb
      %li
        %a{:href=>"#{root_path}"} Home
      %li
        %a{:href=>"#{cart_path}"} Cart
      %li
        %a{:href=>"#{checkout_address_path}"} Checkout
