.w100.clearfix
  .row.userInfo
    .col-lg-12
      .alert.alert-success{:role=>"alert"}
        %strong
          ORDER CONFIRMED

    .col-xs-12.col-sm-12
      .cartContent.w100.checkoutReview
        %table.cartTable.table-responsive{:style=>"width:100%"}
          %tbody
          %tr.CartProduct.cartTableHeader
            %th{:style=>"width:25%"} Product
            %th{:style=>"width:45"} Details
            %th{:style=>"width:10%"} Unit Price
            %th{:style=>"width:10%"} QNT
            %th{:style=>"width:10%"}Total
          %tr.OrderProduct{"ng-repeat" => "item in order_items"}
            %td.CartProductThumb
              %div
                %a{:href=>"{{item.details_url}}"}
                  %img{"ng-src"=>"{{item.thumbnail_url}}"}
            %td
              .CartDescription
                %h4
                  %a{:href=>"{{item.details_url}}"} {{item.name}}
                %span.size
                  {{item.description}}
            %td.delete
              .price {{item.price.amount}}
            %td {{item.quantity}}
            %td.price {{item.quantity * item.price.amount}}
