.parallax-section.parallax-fx.parallax-image-aboutus.parallaxOffset.no-padding
  .w100
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .parallax-content.clearfix.animated
            %h1.x2large
              ABOUT KALAKRATI 
            %h5.parallaxSubtitle
              Handcrafting innovative products with love
