.col-lg-6.col-md-6.col-sm-6.col-xs-12
  %h3.block-title-5
    Business enquiry
  %p
    We are happy to connect with you for a business partnership or other oppurtunities.
    %br
    %strong
      Email us
    = ": 	enquiry.kalakrati@outlook.com"
