.col-lg-6.col-md-6.col-sm-6.col-xs-12
  %h3.block-title-5
    Feedback
  %p
    We would love to hear feedback on our products or services from you.
    %br
    %strong
      Email us
    = ": 	feedback.kalakrati@outlook.com"
