<%= render partial: "about_parallex" %>

<div class="container main-container ">
  
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <h1 class="title-big text-center section-title-style2">
            <span>
              About us
            </span>
          </h1>
          
          <p class="lead text-center">
            At Kalakrati we believe that a gift should embody your love, passion and festivity. It should represent YOU. Our desire to constantly build high quality innovative products is fuelled by our will to do more with everyday things that get discarded easily and turn them into a possesion or gift that is unique.
          </p>
          
          
          <hr class="hr hr30">
          <div class="row animated">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive" src="<%= asset_path('aboutus/click.jpg') %>" alt="img">
              <h3 class="block-title-3">
                Innovative
              </h3>
              <p>
                We constantly strive to come up with new ideas and designs. Each piece is carefully handcrafted to give it a unique finish. Since every unit is handcrafted with love, you will see that no two pieces are exact replicas, thereby emphasizing on the more human side of our products. We hope you will love them as much as we do.
              </p>
              
              
              
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive" src="<%= asset_path('aboutus/pencilstand.jpg') %>" alt="img">
              <h3 class="block-title-3">
                Personalised
              </h3>
              <p>
                We strive to create products that are personalised. Talk to us if you have designs in mind for your product. We are happy to help you build things that you and your loved ones will cherish and use forever. Our products are often utilitarian in nature and you would see they go far beyond that just being decorative.
              </p>
              
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive" src="<%= asset_path('aboutus/ecofriendly.jpg') %>" alt="img">
              <h3 class="block-title-3">
                Environment friendly
              </h3>
              <p>
                As you browse our catalog, you will find our selection of materials to build product ranges from waste bottles, to discarded ropes, jute and recycles paper. While this may not be apparent from our products due to their high quality finish, rest assured we carefully select materials to build things, that leave a smaller carbon footprint.
              </p>
              
            </div>
            
            
            
          </div><!--/.row-->
          
          <hr>
        </div>
      </div>  <!--/row end-->
    </div>
  </div> <!--/.innerPage-->
  <div style="clear:both">  </div>
</div>
