%h1.title-big.text-center.section-title-style2
  %span Contact us
%p.lead.text-center
  We strive to provide a pleasent customer experience while shopping with us. With us you won't be spending time waiting on phone lines choosing languages or talking to customer representatives. Talk directly to someone who can make quick decision and help you get your queries resolved in shortest time possible. Feel free to reach out to us during our business hours [ 9 a.m. IST to 6 p.m IST ] and give us an oppurtunity to talk to you about anything you may want to know, concerns you may have, business oppurtunites or just a casual chit chat for that matter.
%hr
