.parallaxOffset.no-padding.fixedContent.contact-intro
  .w100.map
    %iframe{:src=>"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.7670513532242!2d73.00275345!3d19.0607386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c15048c6221b%3A0xbb655b88453b9a5d!2sSanpada%2C+Palm+Beach%2C+Sanpada%2C+Navi+Mumbai%2C+Maharashtra+400705!5e0!3m2!1sen!2sin!4v1411906891664", :width=>"100%", :height=>"450", :frameborder=>"0", :style=>"border:0"}
