.col-lg-6.col-md-6.col-sm-6.col-xs-12
  %h3.block-title-5
    Place orders
  %p
    We are happy to take orders on phone and email as well.
    %br
    %strong
      Business Hours
    = "9 a.m. IST to 6 p.m. IST"
    %br
    %strong
      Phone number
    = ": 	+91-9930196120"
    %br
    %strong
      Email us
    = ": 	orders.kalakrati@outlook.com"
