.dropdown.cartMenu{"ng-controller" => "CartController"}
  %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
    %i.fa.fa-shopping-cart
      %span.cartRespons Cart ({{currency}} {{product_total()}})
    %b.caret
  .dropdown-menu.col-lg-4.col-xs-12.col-md-4
    .w100.miniCartTable.scroll-pane
      %table
        %tbody
          %tr.miniCartProduct{"ng-repeat" => "cart_item in cart_items"}
            %td.miniCartProductThumb{:style=>"width:20%"}
              %a{:href=> "{{cart_item.details_url}}"} 
                %img{"ng-src"=>"{{cart_item.thumbnail_url}}", :alt=>"img"}
            %td{:style=>"width:40%"}
              .miniCartDescription
                %h4
                  %a{:href=>"{{cart_item.details_url}}"} {{cart_item.name}}
                .price
                  %span {{cart_item.price.currency}} {{cart_item.price.amount}}
            %td.miniCartQuantity{:style=>"width:10%"}
              %a X {{cart_item.quantity}}
            %td.miniCartSubtotal{:style=>"width:15%"}
              %span {{cart_item.price.currency}} {{cart_item.quantity * cart_item.price.amount}}
            %td.delete{:style=>"width:5%"}
              %a{"ng-click"=>"deleteCartItem(cart_item.id)"}
                %i.glyphicon.glyphicon-trash.fa-x

    .miniCartFooter.text-right
      %h3.text-right.subtotal Subtotal: {{currency}} {{product_total()}}
      %a.btn.btn-sm.btn-danger{:href=>"#{cart_url}"} 
        %i.fa.fa-shopping-cart VIEW CART
      %a.btn.btn-sm.btn-primary{:href => "#{checkout_address_path}"} CHECKOUT
