.footer-bottom
  .container
    %p.pull-left &copy; Kalakrati 2014. All right reserved.
    .pull-right.paymentMethodImg
      %img.pull-right{:style=>"display:none;", :height=>"30", :src=>"#{asset_path('site/payment/master_card.png')}", :alt=>"img"}
