%link{:href=>"//cdn-images.mailchimp.com/embedcode/classic-081711.css",:rel=>"stylesheet",:type=>"text/css"}
  %style{:type=>"text/css"}
    = "#mc_embed_signup{background:#edeff1; clear:left; font:14px Helvetica,Arial,sans-serif; }"
    = "#mc_embed_signup .mc-field-group { width: 100%; }"
    = "#mc_embed_signup form { padding: 0px 0 0px 0%; }"
%div#mc_embed_signup
  %form.validate{:action=>"//kalakrati.us8.list-manage.com/subscribe/post?u=a26f1d7d5cb4150b905bee5b8&amp;id=74c953d46e",:method=>"post",:id=>"mc-embedded-subscribe-form",:name=>"mc-embedded-subscribe-form",:target=>"_blank"}
    %div#mc_embed_signup_scroll
      %div.mc-field-group.input-append.newsLatterBox.text-center
        %input.required.email.full.text-center{:type=>"email",:value=>"",:name=>"EMAIL", :id=>"mce-EMAIL", :placeholder => "Email"}
        %button.btn{:type=>"submit"} 
          Subscribe
          %i.fa.fa-long-arrow-right
      .clear#mce-responses
        .response#mce-error-response{:style=>"display:none"}
        .response#mce-success-response{:style=>"display:none"}
    %div{:style=>"position: absolute; left: -5000px;"}
      %input{:type=>"text",:name=>"b_a26f1d7d5cb4150b905bee5b8_74c953d46e",:tabindex=>"-1",:value=>""}:
      .clear
        %input.button#mc-embedded-subscribe{:type=>"submit",:value=>"Subscribe",:name=>"subscribe"}
