<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"> <a data-toggle="collapse" href="#collapseThree" class="collapseWill"> Discount <span class="pull-left"> <i class="fa fa-caret-right"></i></span> </a> </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="block-element">
        <label style="display: none;">
          <input type="checkbox" name="tour" value="3" style="display: none;">
          Non-Discounted items </label>
      </div>
      <div class="block-element">
        <label style="display: none;">
          <input type="checkbox" name="tour" value="3" style="display: none;">
          Discounted items </label>
      </div>
    </div>
  </div>
</div>
<!--/discount  panel end-->