.col-lg-9.col-md-9.col-sm-12
  .w100.clearfix.category-top
    %h2 #{@category.name.upcase} COLLECTION
    .categoryImage
      %a{:href=>"#{@category.display_image_source}", :target=>"new"}
        %img.img-responsive{ :src=>"#{asset_path(@category.display_image)}", :alt=>"img"}
    
    .w100.productFilter.clearfix
      %p.pull-left
        Showing
        %strong
          = @products.count
        products
      .pull-right
        .change-order.pull-right
          %select.form-control{:name => "orderby", :style=>"display: none;"}
            %option{:selected=>"selected"}Default sorting
            -#%option{:value=>"price"}Sort by price: low to high
            -#%option{:value=>"price-desc"}Sort by price: high to low
            -#%option{:value=>"popularity"}Sort by popularity
            -#%option{:value=>"newness"}Sort by newness
        .change-view.pull-right
          %a.grid-view{:href=>"#", :title=>"Grid"}
            %i.fa.fa-th-large
          %a.list-view{:href=>"#", :title=>"List"}
            %i.fa.fa-th-list

    .row.categoryProduct.xsResponse.clearfix
      .item.col-sm-4.col-lg-4.col-md-4.col-xs-6{"ng-repeat" => "product in products"}
        .product
          %a.add-fav.tooltipHere{"data-toggle" => "tooltip", "data-original-title" => "Add to Wishlist", "data-placement" => "left"}
            %i.glyphicon.glyphicon-heart
          .image
            %a{:href=>"{{product.details_url}}" }
              %img.img-responsive{"ng-src" => "{{product.images[0].img_url}}", :alt=>"img"}
            .promotion
              %span.new-product New
          .description
            %h4
              %a{:href=>"{{product.details_url}}"}
                {{product.name}}
            .grid-description
              %p
                {{product.description}}
            .list-description
              %p
                {{product.description}}
            .price
              %span
                {{product.price.currency}} {{product.price.amount}}
            .action-control
              %a.btn.btn-primary{"ng-click"=>"addToCart(product.id)"}
                %span.add2cart
                  %i.glyphicon.glyphicon-shopping-cart
                  Add to cart
    <!--/.categoryProduct || product content end-->
    .w100.categoryFooter
      .pagination.pull-left.no-margin-top
        %ul.pagination.no-margin-top
          %li
            %a{"ng-click" =>"updateProductsForPage(1)"}«
          %li{"ng-repeat" => " pageNum in totalPageCount()", "ng-class" => "isCurrentPage(pageNum) ? 'active' : ''"}
            %a{"ng-if" => "isCurrentPage(pageNum)"} {{pageNum}}
            %a{"ng-if" => "!isCurrentPage(pageNum)", "ng-click" => "updateProductsForPage(pageNum)"} {{pageNum}}
          %li
            %a{"ng-click" =>"updateProductsForPage(lastPageNumber)"}»
    
      .pull-right.pull-right.col-sm-4.col-xs-12.no-padding.text-right.text-left-xs
        %p Showing {{startRecordCount}} - {{endRecordCount}} of {{categoryDetails.total_records}} results
