.breadcrumbDiv.col-lg-12
  %ul.breadcrumb
    %li
      %a(href="#{root_path}")Home
    - breadcrumbs_for(@product).each do |breadcrumb|
      %li
        %a(href="#{category_products_path(breadcrumb)}")
          = breadcrumb.name
    %li.active
      = @product.name
