<div class="container main-container headerOffset"> 
  
  <!-- Main component call to action -->
  
  <%= render :partial => "category_breadcrumb" %>
  
  <div class="row"> 
    
    <!--left column-->
    
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="panel-group" id="accordionNo"> 

        <%= render :partial => "taxonomy_listing" %> 
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a class="collapseWill" data-toggle="collapse" href="#collapsePrice"> Price <span class="pull-left"> <i class="fa fa-caret-right"></i></span> </a> <span class="pull-right clearFilter  label-danger"> Clear </span> </h4>
          </div>
          <div id="collapsePrice" class="panel-collapse collapse in">
            <div class="panel-body priceFilterBody"> 
              <!-- -->
              <label style="display: none;">
                <input type="radio" name="agree" value="0" style="display: none;">
                100$ - 500$</label><span class="icr enabled" id="icr-3"><span class="icr__radio"></span><span class="icr__text">100$ - 500$</span></span>
              <br>
              <label style="display: none;">
                <input type="radio" name="agree" value="1" style="display: none;">
                500$ - 1000$</label><span class="icr enabled" id="icr-4"><span class="icr__radio"></span><span class="icr__text">500$ - 1000$</span></span>
              <br>
              <label style="display: none;">
                <input type="radio" name="agree" value="2" style="display: none;">
                1000$ - 1500$</label><span class="icr enabled" id="icr-5"><span class="icr__radio"></span><span class="icr__text">1000$ - 1500$</span></span>
              <br>
              <label style="display: none;">
                <input type="radio" name="agree" value="3" style="display: none;">
                1500$ - 2000$</label><span class="icr enabled" id="icr-6"><span class="icr__radio"></span><span class="icr__text">1500$ - 2000$</span></span>
              <br>
              <label style="display: none;">
                <input type="radio" name="agree" value="4" style="display: none;">
                2000$ - 2500$</label><span class="icr enabled" id="icr-7"><span class="icr__radio"></span><span class="icr__text">2000$ - 2500$</span></span>
              <br>
              <label style="display: none;">
                <input type="radio" name="agree" value="5" style="display: none;">
                2500$ - 3000$</label><span class="icr enabled" id="icr-8"><span class="icr__radio"></span><span class="icr__text">2500$ - 3000$</span></span>
              <br>
              <label style="display: none;">
                <input type="radio" name="agree" value="6" disabled="" checked="" style="display: none;">
                Don't know</label><span class="icr disabled checked" id="icr-9"><span class="icr__radio"></span><span class="icr__text">Don't know</span></span>
              <hr>
              <p>Enter a Price range </p>
              <form class="form-inline " role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputEmail2" placeholder="2000 $">
                </div>
                <div class="form-group sp"> - </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword2" placeholder="3000 $">
                </div>
                <button type="submit" class="btn btn-default pull-right">check</button>
              </form>
            </div>
          </div>
        </div>
        <!--/price panel end-->
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" href="#collapseThree" class="collapseWill"> Discount <span class="pull-left"> <i class="fa fa-caret-right"></i></span> </a> </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="block-element">
                <label style="display: none;">
                  <input type="checkbox" name="tour" value="3" style="display: none;">
                  Non-Discounted items </label><span class="icr enabled" id="icr-45"><span class="icr__checkbox"></span><span class="icr__text">Non-Discounted items</span></span>
              </div>
              <div class="block-element">
                <label style="display: none;">
                  <input type="checkbox" name="tour" value="3" style="display: none;">
                  Discounted items </label><span class="icr enabled" id="icr-46"><span class="icr__checkbox"></span><span class="icr__text">Discounted items</span></span>
              </div>
            </div>
          </div>
        </div>
        <!--/discount  panel end--> 
      </div>
    </div>
    
    <%= render :partial=>"category_product_listing" %>
  </div>
  <!-- /.row  --> 
</div>
