.navbar-default.sidebar{:role=>"navigation"}
  .sidebar-nav.navbar-collapse
    %ul.nav.in#side-menu
      %li
        %a.active{:href=>"index.html"}
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        %a{:href=>"#"}
          %i.fa.fa-bar-chart-o.fa-fw
          Orders
      %li
        %a{:href=>"#"}
          %i.fa.fa-bar-chart-o.fa-fw
          Categories
      %li
        %a{:href=>"#"}
          %i.fa.fa-bar-chart-o.fa-fw
          Products