.navbar-default.sidebar{:role=>"navigation"}
  .sidebar-nav.navbar-collapse
    %ul.nav.in#side-menu
      %li
        %a.active{:href=>"index.html"}
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        %a{:href=>"#"}
          %i.fa.fa-inbox.fa-fw
          Orders
      %li
        %a{:href=>"#"}
          %i.fa.fa-tags.fa-fw
          Categories
      %li
        %a{:href=>"#{admin_products_manage_path}"}
          %i.fa.fa-barcode.fa-fw
          Products